.footer {
  height: 3em;
  background-color: black;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  width:100%;
}
